.blue{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10%;
    color: white;
    padding-bottom: 5%;
    padding-top: 5%;
    
}

body{
    margin: 0%;  
    background-color: #204769; 
    font-family: "Montserrat", sans-serif;
}

.head-f{
    background-color:  	#62b1f3;;
    
    font-family: "Montserrat", sans-serif;
    height: 50px;
}

.blue p{
    max-width: 700px;
    text-align: center;
}
h1{
    color: white;
    font-size:65px;
}
h2{
    font-size: xx-large;
}
p{
    font-size: x-large;
}



.foto{
    height: 250px;
    border-radius: 50%;
    
    
}


.ul-skills{
    list-style: none;
    display: flex;
    flex: 1;
    flex-wrap: wrap; 
    justify-content:center;
    margin: 20px;
    padding: 0;
    padding-top: 50px;
    height: 30vh;
    
}
.ul-skills li{
    display: grid;
    grid-template-columns: 10% 60% 30%;
    grid-template-rows: 15% 60% 25%;
    width: 100px;
    height: 120px;
    margin: 10px;
    padding-bottom: 5px;
    background:#38658b;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    transition: transform 0.5s;
}
.ul-skills li:hover{
    transform: scale(1.1);
    z-index: 100;
    background: #467fae;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
}
.ul-skills li p{
    grid-area: 3/1/4/4;
    text-align: center;
    font-size: large;
}
.ul-skills li .list-img{
    width: 200px;
    
    grid-area:2/3/3/2;
    
}

.ul-get{
    
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;

}
.ul-get li{
    padding: 0;
    margin: 10px;
}

.ul-get li a img{
    width: 30px;
    transition: transform 0.5s;
    
}

.ul-get li a img:hover{
    transform: scale(1.2);
    z-index: 100;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
}

.blue div div{
    text-align: center;
    justify-content: center;
}


a{
    color: white;
}
a:hover{
    color: gray;
}

a:link,
a:visited,
a:active {
  color:white; /* Example: Blue color */
  text-decoration: none; /* Optional: Removes the default underline */
}